/* Base styles & resets */

html {
  font-family: 'Roboto Slab', serif;
  color: rgb(46, 45, 48);
}

body {
  background-color: black;
  color: white;
  margin: 0;
}

main {
  width: 80%;
  margin: 3rem auto;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: aqua;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Global components */

.btn {
  cursor: pointer;
  font: inherit;
  background-color: rgb(35, 0, 90);
  border: 1px solid rgb(35, 0, 90);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.btn:hover,
.btn:active {
  background-color: rgb(11, 9, 44);
  border-color: rgb(11, 9, 44);
  color: white;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.btn-alt:hover,
.btn-alt:active {
  color: aqua;
}

/* Site-wide content / elements */
#completed-task {
  position: absolute;
}

#main-header {
  padding: 2rem 10%;
  background-color: rgb(35, 0, 90);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo a {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#main-header ul {
  display: flex;
}

#main-header li {
  margin-left: 2rem;
}

#main-header nav a {
  color: white;
  font-size: 1.25rem;
}

#main-header nav a:hover,
#main-header nav a:active {
  color: rgb(255, 217, 0);
}